<html lang="en">
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport">
<link href="{{ url_for('static', filename='css/board.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<title>Battleships</title>
<div id="main_block_of_the_app">
    {% block javascript %}
    <script type="application/javascript">
        function refreshPageOnTime(link, time = 10) {
            let handler_func = function () {
                window.location = link
            }
            setTimeout(handler_func, 1000 * time);
        }

        // https://stackoverflow.com/questions/51805395/navigator-clipboard-is-undefined
        function copyToClipboard(textToCopy) {
            // navigator clipboard api needs a secure context (https)
            if (navigator.clipboard && window.isSecureContext) {
                // navigator clipboard api method
                return navigator.clipboard.writeText(textToCopy);
            } else {
                // text area method
                let textArea = document.createElement("textarea");
                textArea.value = textToCopy;
                // make the textarea out of viewport
                textArea.style.position = "fixed";
                textArea.style.left = "-999999px";
                textArea.style.top = "-999999px";
                document.body.appendChild(textArea);
                textArea.focus();
                textArea.select();
                return new Promise((res, rej) => {
                    // here the magic happens
                    document.execCommand('copy') ? res() : rej();
                    textArea.remove();
                });
            }
        }
    </script>
    {% endblock javascript %}
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="">
                {% block page_title %}
                {% endblock page_title %}
            </a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_get_new_game_view }}">New</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_get_join_game_view }}">Join</a>
                    </li>
                    {% if last_page_name != "" and url_last_page_url != "" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_last_page_url }}">{{ last_page_name }}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid text-center">
        {% block body %}
        {% endblock body %}
    </div>
</div>
</html>