.grid_div {
    display: grid;
    grid-template-rows: repeat(10, 6vw);
    grid-template-columns: repeat(10, 6vw);
    padding: 0;
    width: 60vw;
    height: 60vw;
    text-align: center;
    margin: auto;
}