{% extends "base.html" %}

{% block page_title %}
Add your ships to the board
{% endblock page_title %}

{% block javascript %}
{{ super() }}
<body onload="refreshPageOnTime('{{ game_status_page_url }}', 30);"></body>
{% endblock javascript %}

{% block body %}
{{ super() }}
{% set ship_size_1="⊡" %}
{% set ship_size_2="⊡⊡" %}
{% set ship_size_3="⊡⊡⊡" %}
{% set ship_size_4="⊡⊡⊡⊡" %}
{% set ship_size_5="⊡⊡⊡⊡⊡" %}
{% set ship_direction_horizontal="⇨" %}
{% set ship_direction_vertical="⇩" %}
<div id="hidden_ship_forms">
    {% for ship in ships_list %}
    <form action="{{ url_post_chose_ship }}" id="form_ship_id_{{loop.index0}}_vertical" method="post">
        <input id="active_ship_id_v" name="active_ship_id" type="hidden" value="{{ ship.ship_id }}"/>
        <input id="ship_vertical" name="ship_direction" type="hidden" value="VERTICAL">
    </form>
    <form action="{{ url_post_chose_ship }}" id="form_ship_id_{{loop.index0}}_horizontal" method="post">
        <input id="active_ship_id_h" name="active_ship_id" type="hidden" value="{{ ship.ship_id }}"/>
        <input id="ship_horizontal" name="ship_direction" type="hidden" value="HORIZONTAL">
    </form>
    {% endfor %}
</div>
<div id="hidden_forms_with_ships_cell_values">
    {% for row in field %}
    {% set row_index = loop.index0 %}
    {% for cell in row %}
    {% if cell.has_ship %}
    {% set cell_url = url_post_delship %}
    {% else %}
    {% set cell_url = url_post_addship %}
    {% endif %}
    <form action="{{ cell_url }}" id="form_cell_ship_{{row_index}}_{{loop.index0}}" method="post">
        <input id="ship_coordinate_row_{{row_index}}_{{loop.index0}}"
               name="ship_coordinate_row"
               type="hidden"
               value="{{ cell.row }}"/>
        <input id="ship_coordinate_col_{{row_index}}_{{loop.index0}}"
               name="ship_coordinate_col"
               type="hidden"
               value="{{ cell.col }}"/>
        <input id="cell_active_ship_id_{{row_index}}_{{loop.index0}}"
               name="cell_active_ship_id"
               type="hidden"
               value="{{ active_ship_id }}"/>
    </form>
    {% endfor %}
    {% endfor %}
</div>
<div class="container-fluid" id="opponent_status_container">
    {% if opponent_status %}
    {% set badge_style="text-bg-success" %}
    {% set status_text="Ready" %}
    {% else %}
    {% set badge_style="text-bg-warning" %}
    {% set status_text="In Progress..." %}
    {% endif %}
    <div class="row" id="opponent_status_container_row">
        <p><span class="text-primary">{{opponent_name}}</span> Status: <span class="badge {{badge_style}}">{{status_text}}</span>
        </p>
    </div>
</div>
<div class="container" id="body_container">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-4 col-sm-6" id="ships_list">
            <div class="container-fluid text-center">
                <div class="row">
                    <div class="col col-sm-3">
                        {% for ship in ships_list %}
                        {% if ship.ship_id == active_ship_id %}
                        {% set is_selected_button = "btn btn-success btn-block" %}
                        {% else %}
                        {% set is_selected_button = "btn btn-outline-primary btn-block" %}
                        {% endif %}
                        {% if ship.ship_size == 1 %}
                        {% set ship_string = ship_size_1 %}
                        {% elif ship.ship_size == 2 %}
                        {% set ship_string = ship_size_2 %}
                        {% elif ship.ship_size == 3 %}
                        {% set ship_string = ship_size_3 %}
                        {% elif ship.ship_size == 4 %}
                        {% set ship_string = ship_size_4 %}
                        {% elif ship.ship_size == 5 %}
                        {% set ship_string = ship_size_5 %}
                        {% else %}
                        {% set ship_string = "ERROR" %}
                        {% endif %}
                        {% if ship.ship_size == 1 %}
                        <button class="{{is_selected_button}}"
                                form="form_ship_id_{{loop.index0}}_horizontal">
                            <b>{{ship_string}}</b>
                        </button>
                        {% else %}
                        <div class="btn-group" role="group">
                            {% if ship.direction == "HORIZONTAL" %}
                            {% set ship_direction_img = ship_direction_horizontal %}
                            {% set text_color = "text-primary" %}
                            {% else %}
                            {% set ship_direction_img = ship_direction_vertical %}
                            {% set text_color = "text-success" %}
                            {% endif %}
                            <button aria-expanded="false" class="{{ is_selected_button }} dropdown-toggle"
                                    data-bs-toggle="dropdown"
                                    type="button">
                                <b>{{ship_string}} {{ship_direction_img}}</b>
                            </button>
                            <ul class="dropdown-menu">
                                <button class="dropdown-item"
                                        form="form_ship_id_{{loop.index0}}_horizontal">
                                    {{ship_direction_horizontal}} Horizontal
                                </button>
                                <button class="dropdown-item"
                                        form="form_ship_id_{{loop.index0}}_vertical" {{ is_hidden_direction_button }}>
                                    {{ship_direction_vertical}} Vertical
                                </button>
                            </ul>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6" id="board_cells_container">
            <div class="grid_div" id="board_cells">
                {% for row in field %}
                {% set row_index = loop.index0 %}
                {% for cell in row %}
                {% if cell.has_ship %}
                {% set btn_style = "btn-success" %}
                {% else %}
                {% set btn_style = "btn-outline-primary" %}
                {% endif %}
                {% if cell.is_not_available or (not cell.has_ship and ships_list|length == 0) %}
                {% set cell_is_disabled = "disabled" %}
                {% set btn_style = "bg-primary p-2 bg-opacity-50" %}
                {% else %}
                {% set cell_is_disabled = "" %}
                {% endif %}
                <button cell_is_disabled
                        class="col ratio ratio-1x1 border border-dark btn btn-sm btn-square-sm {{ btn_style }}"
                        form="form_cell_ship_{{row_index}}_{{loop.index0}}"
                        id="cell_button_{{row_index}}_{{loop.index0}}" {{ cell_is_disabled }}></button>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="row" id="ready_button_container">
    {% if ships_list|length == 0 %}
    {% set is_disabled="" %}
    {% set ready_style="btn btn-success" %}
    {% else %}
    {% set is_disabled="disabled" %}
    {% set ready_style="btn btn-secondary" %}
    {% endif %}
    <form action="{{ url_post_start }}" method="post">
        <button class="{{ready_style}}" is_disabled type="submit" {{ is_disabled }}>Ready</button>
    </form>
</div>
{% endblock body %}