{% extends "base.html" %}

{% block page_title %}
Add your ships to the board
{% endblock page_title %}


{% block javascript %}
{{ super() }}
<!--<body onload="refreshPageOnTime('{{ game_status_page_url }}', 5);">-->
{% endblock javascript %}


{% block body %}
{{ super() }}

{{ url_post_start }}
<br/>
{{ url_post_addship }}
<br/>
{{ url_post_delship }}
<br/>
{{ url_get_opponent }}
<br/>
{{ current_player_name }}
<br/>
{{ opponent_status }}
<br/>
{{ ships_list }}
<br/>
{{ field }}
<br/>
{{ errors_list }}
<br/>
{{ active_ship_id }}
<br/>
<div>
    <div>
        <div>
            <h1>Your Ships</h1>
            <ul>
                {% for ship in ships_list %}
                <li>
                    <form id="form_ship_id_{{loop.index0}}" action="{{ url_post_chose_ship }}" method="post">
                        <input type="hidden" id="active_ship_id" name="active_ship_id" value="{{ ship.ship_id }}"/>
                        {% if active_ship_id == ship.ship_id %}
                        <button type="submit">Ship Size = {{ ship.ship_size }}, <h4>ACTIVE</h4></button>
                        {% else %}
                        <button type="submit">Ship Size = {{ ship.ship_size }}</button>
                        {% endif %}
                    </form>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h2>Opponent Status</h2>
            <p>{{opponent_status}}</p>
        </div>
        <table>
            {% for row in field %}
                {% set row_index = loop.index0 %}
            <tr>
                {% for cell in row %}
                <td>
                    {% if cell.has_ship %}
                    <form id="form_cell_ship_{{row_index}}_{{loop.index0}}" action="{{ url_post_delship }}" method="post">
                        <input type="hidden" id="ship_coordinate_row" name="ship_coordinate_row" value="{{ cell.row }}"/>
                        <input type="hidden" id="ship_coordinate_col" name="ship_coordinate_col" value="{{ cell.col }}"/>
                        <input type="submit" value="*"/>
                    </form>
                    {% else %}
                    <form id="form_cell_ship_{{row_index}}_{{loop.index0}}" action="{{ url_post_addship }}" method="post">
                        <input type="hidden" id="ship_coordinate_row" name="ship_coordinate_row" value="{{ cell.row }}"/>
                        <input type="hidden" id="ship_coordinate_col" name="ship_coordinate_col" value="{{ cell.col }}"/>
                        <input type="hidden" id="cell_active_ship_id" name="cell_active_ship_id" value="{{ active_ship_id }}"/>
                        <select id="ship_direction" name="ship_direction">
                            <option value="HORIZONTAL">Horizontal</option>
                            <option value="VERTICAL">Vertical</option>
                        </select>
                        <input type="submit" value=""/>
                    </form>
                    {% endif %}

                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <br/>
    <div>
        <form action="{{ get_game_status_page_url }}" method="post">
            <input type="submit" value="Ready"/>
        </form>
    </div>
</div>

{% endblock body %}