{% extends "base.html" %}

{% block page_title %}
Add your ships to the board
{% endblock page_title %}

{% block javascript %}
{{ super() }}
<body onload="refreshPageOnTime('{{ game_status_page_url }}', 30);"></body>
{% endblock javascript %}

{% block body %}
{{ super() }}
<div id="hidden_ship_forms">
    {% for ship in ships_list %}
    <form id="form_ship_id_{{loop.index0}}_vertical" action="{{ url_post_chose_ship }}" method="post">
        <input id="active_ship_id_v" name="active_ship_id" type="hidden" value="{{ ship.ship_id }}"/>
        <input id="ship_vertical" name="ship_direction" type="hidden" value="VERTICAL">
    </form>
    <form id="form_ship_id_{{loop.index0}}_horizontal" action="{{ url_post_chose_ship }}" method="post">
        <input id="active_ship_id_h" name="active_ship_id" type="hidden" value="{{ ship.ship_id }}"/>
        <input id="ship_horizontal" name="ship_direction" type="hidden" value="HORIZONTAL">
    </form>
    {% endfor %}
</div>
<div id="hidden_forms_with_ships_cell_values">
    {% for row in field %}
    {% set row_index = loop.index0 %}
    {% for cell in row %}
    {% if cell.has_ship %}
    {% set cell_url = url_post_delship %}
    {% else %}
    {% set cell_url = url_post_addship %}
    {% endif %}
    <form id="form_cell_ship_{{row_index}}_{{loop.index0}}" action="{{ cell_url }}" method="post">
        <input id="ship_coordinate_row_{{row_index}}_{{loop.index0}}"
               name="ship_coordinate_row"
               type="hidden"
               value="{{ cell.row }}"/>
        <input id="ship_coordinate_col_{{row_index}}_{{loop.index0}}"
               name="ship_coordinate_col"
               type="hidden"
               value="{{ cell.col }}"/>
        <input id="cell_active_ship_id_{{row_index}}_{{loop.index0}}"
               name="cell_active_ship_id"
               type="hidden"
               value="{{ active_ship_id }}"/>
    </form>
    {% endfor %}
    {% endfor %}
</div>
<div id="body_container" class="container-fluid">
    {% if opponent_status %}
    {% set badge_style="text-bg-success" %}
    {% set status_text="Ready" %}
    {% else %}
    {% set badge_style="text-bg-warning" %}
    {% set status_text="In Progress..." %}
    {% endif %}
    <div id="opponent_status_container_row" class="row">
        <p><span class="text-primary">{{opponent_name}}</span> Status: <span class="badge {{badge_style}}">{{status_text}}</span></p>
    </div>
    <div id="ships_and_field_container_row" class="row">
        <div class="clearfix container-fluid text-center">
            <div class="row">
                <div id="ships_list" class="col-md-4 col-sm-6">
                    <div id="ships_list_dropdowns" class="list-group">
                        {% for ship in ships_list %}
                        {% if ship.ship_id == active_ship_id %}
                        {% set active_color = "active" %}
                        {% else %}
                        {% set active_color = "" %}
                        {% endif %}

                        {% if ship.direction == "VERTICAL" %}
                        {% set ship_direction_img = "bi bi bi-arrow-down" %}
                        {% else %}
                        {% set ship_direction_img = "bi bi bi-arrow-right" %}
                        {% endif %}
                        <div class="dropdown">
                            <button id="ship_dropdown_button_{{loop.index0}}"
                                    class="list-group-item list-group-item-action {{ active_color }} dropdown-toggle text-sm-start"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                {% for i in range(ship.ship_size) %}
                                <i class="bi bi-check-square-fill"></i>
                                {% endfor %}
                                <i class="{{ship_direction_img}}">{{ship.direction}}</i>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <button form="form_ship_id_{{loop.index0}}_horizontal" class="dropdown-item"><i
                                            class="bi bi bi-arrow-right">Horizontal</i></button>
                                </li>
                                <li>
                                    <button form="form_ship_id_{{loop.index0}}_vertical" class="dropdown-item"><i
                                            class="bi bi bi-arrow-down">Vertical</i></button>
                                </li>
                            </ul>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div id="board_cells_container" class="col-md-4 col-sm-6">
                    <div id="board_cells" class="grid_div" >
                        {% for row in field %}
                        {% set row_index = loop.index0 %}
                        {% for cell in row %}
                        {% if cell.has_ship %}
                        {% set btn_style = "btn-success" %}
                        {% else %}
                        {% set btn_style = "btn-outline-primary" %}
                        {% endif %}
                        {% if cell.is_not_available or (not cell.has_ship and ships_list|length == 0) %}
                        {% set cell_is_disabled = "disabled" %}
                        {% set btn_style = "bg-primary p-2 bg-opacity-50" %}
                        {% else %}
                        {% set cell_is_disabled = "" %}
                        {% endif %}
                        <button id="cell_button_{{row_index}}_{{loop.index0}}"
                                form="form_cell_ship_{{row_index}}_{{loop.index0}}"
                                class="col ratio ratio-1x1 border border-dark btn btn-sm btn-square-sm {{ btn_style }}"
                                {{ cell_is_disabled }}></button>
                        {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ready_button_container" class="row">
        {% if ships_list|length == 0 %}
        {% set is_disabled="" %}
        {% set ready_style="btn btn-success" %}
        {% else %}
        {% set is_disabled="disabled" %}
        {% set ready_style="btn btn-secondary" %}
        {% endif %}
        <form action="{{ url_post_start }}" method="post">
            <button type="submit" class="{{ready_style}}" {{ is_disabled }}>Ready</button>
        </form>
    </div>
</div>

{% endblock body %}