{% extends "base.html" %}

{% block page_title %}
Game is finished
{% endblock page_title %}

{% block body %}
{{ super() }}
<div id="header_of_the_page_container">
    <h1>Game is Finished</h1>
</div>
<br/>
<div id="player_information_container">
    <h2>Player <span class="badge text-bg-success">{{ winner_player_name }} </span> has win this game </h2>
</div>
<br/>
<div id="link_to_main_page_container">
    <a class="btn btn-outline-primary" href="{{ url_get_index }}">Return to the main page</a>
</div>
{% endblock body %}