{% extends "base.html" %}

{% block page_title %}
Wait for other player
{% endblock page_title %}

{% block javascript %}
{{ super() }}
<!--<body onload="refreshPageOnTime('{{ url_get_update }}');">-->
{% endblock javascript %}

{% block body %}
{{ super() }}

<div>
    <div>
        <p>
        <h3> Share with other players Game Session ID</h3>
        </p>
    </div>
    <div>
        <h1><span>{{ game_session_id }}</span></h1>
    </div>
    <div>
        <p>Player who created session is {{ current_player_name }}</p>
    </div>
    <br/>
    <div>
        <p>Opponent name {{ opponent_name }}</p>
    </div>
    {% if opponent_name|length %}
    <form action="{{ url_get_prepare }}" method="get">
        <input type="submit" value="Next"/>
    </form>
    {% else %}
    <form action="{{ url_get_update }}" method="get">
        <input type="submit" value="Update"/>
    </form>
    {% endif %}
</div>
{% endblock body %}