{% extends "base.html" %}

{% block page_title %}
Battleships - The Game
{% endblock page_title %}

{% block body %}
{{ super() }}
<div class="container">
    <div class="row justify-content-center">
        <div class="col align-self-center">
            <form action="{{ url_get_new_game_view }}">
                <div>
                    <input type="submit" value="New Game" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col align-self-center">
            <form action="{{ url_get_join_game_view }}">
                <div>
                    <input type="submit" value="Join the Game" class="btn btn-secondary"/>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock body %}